<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script type="text/javascript" src="https://gc.kis.v2.scr.kaspersky-labs.com/D2C22773-14A6-D84B-A349-93E419AD1B81/main.js" charset="UTF-8"></script><script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<style>
.alert{
	background-color:green;
	width:70%;
	padding:15px;
	margin:70px 30px;
	display:inline-block;
	border:5px solid #ccc;
	border-radius:5px;
	box-sizing: border-box;
}
</style>



</head>
<body >

    <div class="alert">
        An email has been sent with instructions to reset your password
    </div>
</body>
</html>
