<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Base</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  </head>
  <body style="background-color:chartreuse;">


            <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Welcome {{user.username}}</a>
    </div>
    <ul class="nav navbar-nav">

      <li><a href="{% url 'testapp:guide_booking_view'   %}">Book Guide</a></li>
      <li><a href="{% url 'testapp:tourist_logout' %}">Logout</a></li>
    </ul>
  </div>
            </nav>
  </body>
</html>
